extends layout.pug

block style
  link(rel="stylesheet", href="/stylesheets/adminPage.css")


block content
  h1 Admin Page
  div#controls
    select(name="crewSelect", id="crewSelect", onchange="window.formatJobs()")
    div#jobButtons
      button(id="addJobButton") Add Job
      button(id="removeJobButton") Remove Job

    div#availableJobs


    div#asBuiltJobs
      h1 Generate As Built
      select(name="jobSelect", id="jobSelect")
      button(onclick="goToAsBuilt()") Start
    

block scripts
  script.
    JOBS_JSON="#{jobsJson}"
    CREWS_JSON="#{crewsJson}"
    CREWS_JOBS_JSON="#{crewsJobsJson}"

  script(src="/packed/adminPage.js")
