extends layout.pug

block style
  link(rel="stylesheet", href="/stylesheets/asBuilts.css")
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css", integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==", crossorigin="")

block content
  div#map
  div#controls.control
    input(id="startDateInput", name="startDateInput", type="date").controlChild
    input(id="endDateInput", name="endDateInput", type="date").controlChild
    label(id="startDateLabel", for="startDateInput") Start Date
    label(id="endDateLabel", for="endDateInput") End Date
    button(onclick="window.filterByDate()")#filterByDateButton.controlChild Filter By Date
    button(onclick="window.generateBoreLabels()")#generateLabelsButton.controlChild Generate Bore Labels
    button#generateTotalsButton.controlChild Generate Totals Popup
    button(onclick="window.resetItems()")#resetButton.controlChild Reset
    h1(onclick="window.toggleControls()")#xButton.controlChild X


block scripts
  script.
    BORES_JSON="#{boresJSON}"
    VAULTS_JSON="#{vaultsJSON}"
    CLIENT_OPTIONS_JSON="#{clientOptionsJSON}"
    JOB_NAME_PUG="#{jobName}"
    PAGE_NUMBER_PUG="#{pageNumber}"
  script(src="/packed/asBuilts.js")
