extends layout.pug

block style
  meta(name="viewport", content="user-scalable=no")
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css", integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==", crossorigin="")
  link(rel="stylesheet", href="/stylesheets/inputProduction.css")

block content
  div#map
  div#controls.control
    button(onclick="window.addBoreStart()")#addBore.controlChild Bore
    button(onclick="window.addRockStart()")#addRock.controlChild Rock
    button(onclick="window.addVaultStart()")#addVault.controlChild Vault
    button#cancel.controlChild Cancel
    button#submit.controlChild Submit
    input(id="dateInput", type="date", class="controlChild")
    input(id="footageInput", type="number", class="controlChild")
    select(id="vaultSelect", class="controlChild")
      option(value="-1") ---
      option(value="0") DT20
      option(value="1") DT30
      option(value="2") DT36
    label(for="dateInput", id="dateLabel") Date
    label(for="footageInput", id="footageLabel") Ftg
    label(for="vaultSelect", id="vaultLabel") Size
  div#adminControls.control
    img(src="/images/icons/forward.svg")#forward.movementArrow.controlChild
    img(src="/images/icons/backward.svg")#backward.movementArrow.controlChild
    h1#movementHeader SH#{pageNumber} 

block scripts
  script.
    jobNamePug="#{jobName}"
    pageNumberPug="#{pageNumber}"
    vaultsJSON="#{vaults}"
    boresAndRocksJSON="#{boresAndRocks}"
    totalPagesForJobPug="#{totalPagesForJob}"

  script(src="/packed/inputProduction.js", type="text/javascript")
