extends layout.pug

block style
  meta(name="viewport", content="user-scalable=no")
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css", integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==", crossorigin="")
  link(rel="stylesheet", href="/stylesheets/inputProduction.css")

block content
  div#map
  div#controls.control
    button(onclick="window.addBoreStart()")#addBore.controlChild Bore
    button(onclick="window.addRockStart()")#addRock.controlChild Rock
    button(onclick="window.addVaultStart()")#addVault.controlChild Vault
    button#cancel.controlChild Cancel
    button#submit.controlChild Submit
    input(id="dateInput", type="date", class="controlChild")
    input(id="footageInput", type="number", class="controlChild")
    select(id="vaultSelect", class="controlChild")
      option(value="-1") ---
      option(value="0") DT20
      option(value="1") DT30
      option(value="2") DT36
    label(for="dateInput", id="dateLabel") Date
    label(for="footageInput", id="footageLabel") Ftg
    label(for="vaultSelect", id="vaultLabel") Size
  div#adminControls.control
    img(src="/images/icons/forward.svg")#forward.movementArrow.controlChild
    img(src="/images/icons/backward.svg")#backward.movementArrow.controlChild
    h1#movementHeader SH#{pageNumber} 
  div#boreLogContainer
    h1#boreLogHeader BORE LOG
    div#inputContainersLEFT.inputContainer
      div.ftinContainer
        h1.counter  &nbsp;10-
        input(type="number").ftInput
        p.ftText '
        input(type="number").inInput
        p.inText "
      div.ftinContainer
        h1.counter  &nbsp;20-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  &nbsp;30-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  &nbsp;40-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  &nbsp;50-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  &nbsp;60-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  &nbsp;70-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  &nbsp;80-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  &nbsp;90-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  100-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  110-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  120-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  130-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  140-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  150-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  160-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  170-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  180-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  190-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  200-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  210-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  220-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  230-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  240-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  250-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  260-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  270-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  280-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  290-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  300-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  200-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  210-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  220-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  230-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  240-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  250-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  260-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  270-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  280-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  290-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "
      div.ftinContainer
        h1.counter  300-
        input.ftInput
        p.ftText '
        input.inInput
        p.inText "


block scripts
  script.
    jobNamePug="#{jobName}"
    pageNumberPug="#{pageNumber}"
    vaultsJSON="#{vaults}"
    boresAndRocksJSON="#{boresAndRocks}"
    totalPagesForJobPug="#{totalPagesForJob}"

  script(src="/packed/inputProduction.js", type="text/javascript")
