extends layout.pug

block style
  link(rel="stylesheet", href="/stylesheets/viewJobs.css")

block content
  div#controls
    h1#viewJobsHeader Job List
    input(type="checkbox" id="oldJobCheckbox", onclick="toggleInactiveJobs()")
    label(for="oldJobCheckbox") Show Inactive Jobs
    
  div#jobsContainer
    each job in jobs
      - let containerClass;
      - (job.active)? containerClass = 'jobContainer' : containerClass = 'jobContainer hiddenContainer inactiveJob'
      div(id=`jobContainer${job.id}` class=`${containerClass}`)
        p.jobName #{job.job_name}
        p.jobClient #{job.client}
        a(href=`#` onclick=`togglePageLinks('${job.id}')`).addProduction Report
        div.addProductionContainer
          img(src="/images/icons/plus-square.svg", onclick=`togglePageLinks('${job.id}')`).addProductionIcon
          div.dropdownPageLinks
            each page in job.pages
              a(href=`/inputProduction/${job.client}/${job.job_name}/${page}`).pageLink SH#{page}
        a(href=`/viewTickets/${job.job_name}`).viewTickets Tickets
        img(src="/images/icons/ticket.png").viewTicketsIcon
        a(href=`/prints/${job.job_name}.pdf`).downloadPrints Prints
        img(src="/images/icons/download.png").downloadPrintsIcon


block scripts
  script.
    CREWS_JOBS_JSON="#{crewsJobsJSON}"
  script(src="/packed/viewJobs.js")
